"workshopitem"
{
	"appid" "108600"
	"publishedfileid" "{{PUBLISHEDFILEID}}"
	"contentfolder" "{{CONTENTFOLDER}}"
	"previewfile" "{{PREVIEWFILE}}"
	"changenote" "{{CHANGENOTE}}"
	"title" "__MOD_NAME__"
	"description" "[h1]__MOD_NAME__[/h1]
TODO: write your Workshop page description here (bbcode).

[h3]Copyright (c) 2026 Cody Duong, and contributors[/h3]"
	"tags" "Build 42"
	"visibility" "{{VISIBILITY}}"
}
