{
  "$schema": "https://raw.githubusercontent.com/EmmyLuaLs/emmylua-analyzer-rust/refs/heads/main/crates/emmylua_code_analysis/resources/schema.json",
  "workspace": {
    "library": [
      "./Contents/mods/__MOD_NAME__/42/media/lua/shared",
      "./Umbrella/library/"
    ],
    "ignoreDir": [
      "dist",
      ".testhost",
      ".tools",
      ".decompiled"
    ],
    "ignoreGlobs": [
      "dist/**",
      ".testhost/**",
      ".tools/**",
      ".decompiled/**"
    ]
  },
  "diagnostics": {
    "globals": ["worldobjects"]
  }
}
